<div class="row">
  <div class="col-sm-8 mx-auto tee-time-card">
    <a href="<%= show_route(tee_time) %>">
      <h4><%= "#{tee_time.course.name}  -   #{tee_time.time.to_s(:long)}" %></h4>
      <p><%= tee_time.group_description %></p>
    </a>
  </div>
</div>
