<div class="container">
  <div class="row">
    <div class="col-sm-9 mx-auto user-card">
      <div class="row">
        <div class="col-sm-12 mx-auto">
          <h2>Sign Up</h2><br>
        </div>
      </div>
      <%= render partial: 'form', locals: {user: @user} %><br>
      <div class="row">
        <div class="col-sm-3 mx-auto">
          <a href='/auth/facebook' class="btn fb-btn full">
            <%= image_tag "fb-icon.png", class: "fb-icon" %>
            <span>Sign Up</span>
          </a>
        </div>

        <div class="col-sm-6">
          <%= link_to "Already have an account?", signin_path, class: "session-link" %>
        </div>
      </div>
    </div>
  </div>
</div>
