<div class="container">
  <div class="row">
    <div class="col-sm-9 mx-auto user-card pb-0">
      <div class="row">
        <div class="col-sm-12 mx-auto">
          <h2>Sign Up</h2>
        </div>
      </div>
      <%= render partial: 'form', locals: {user: @user} %><br>
    </div>
  </div>
</div>
