<div class="container">
  <div class="row">
    <div class="col-sm-9 mx-auto user-card pb-0">
      <div class="row">
        <div class="col-sm-12 mx-auto">
          <h2>Sign Up</h2>
        </div>
      </div>
      <%= render partial: 'form', locals: {user: @user} %><br>
      <div id="signup-options">
        <div class="row">
          <div class="col-sm-6"></div>
          <div class="col-sm-4 mx-auto">
            <a href='/auth/facebook' class="btn fb-btn full mb-3">
              <%= image_tag "fb-icon.png", class: "fb-icon" %>
              <span>Sign Up</span>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6"></div>
          <div class="col-sm-6">
            <%= link_to "Already have an account?", signin_path, class: "session-link mt-2" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
