<h2>About Golf Links</h2>

<div class="about">
  <p>This site was created as my final project for the Rails section of Flatiron School's Full Stack Web Developer program. It utilizes a JQuery front end and a Ruby on Rails back end with a JSON API.</p>
  <p>Golf Links is still in the early stages of development, and primarily contains artificial data to demonstrate functionality. You're <del>welcome</del> encouraged to create an account and explore the site yourself, just don't expect to find any user ending in 'TU' to be making those tee times. Credit to the fantastic site <a href="uinames.come">uinames.com</a> for providing great test user data.</p>
  <p>Feedback and suggestions are always appreciated. I have a laundry list of features I plan to add over time, and I'm always open to new ideas. Don't hesitate to get in touch!</p>
  <p>-Tyler Buchheim</p>
  <a href="https://www.github.com/buchheimt" class="icon">
    <%= image_tag 'gh-icon.png', class: 'link-icon' %>
  </a>
  <a href="https://www.linkedin.com/in/buchheimt" class="icon">
    <%= image_tag 'li.svg', class: 'link-icon' %>
  </a>
</div>
