<div class="container">
  <div class="row">
    <div class="col-sm-10 mx-auto user-card">
      <div class="row">
        <div class="col-sm-9"></div>
        <div class="col-sm-3">
          <%= button_tag "Delete Course", data: {url: course_path(@course)}, class: "btn warning" %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 mx-auto">
          <h2>Edit <%= @course.name %></h2><br>
        </div>
      </div>
      <%= render partial: 'form', locals: {course: @course} %>
    </div>
  </div>
</div>
