@import url('https://fonts.googleapis.com/css?family=Open+Sans|Copse');
$font-primary: "Copse";
$font-secondary: "Open Sans";
$font-on-hover: #CCC;
$font-placeholder: #DDD;
$bg-color: rgba(84, 105, 91, .85);
$main-dark: rgba(54, 79, 64, .85);
$main-dark-input: rgb(54, 79, 64);
$main-light: rgba(75, 156, 105, .75);
$nav-dark: rgb(54, 79, 64);
$nav-light: rgb(70, 156, 105);
$btn-light: rgba(140, 206, 150, .75);
$btn-dark: rgba(66, 103, 84, .75);
$footer: rgba(51, 69, 58, .95);
$footer-dark: rgba(51, 69, 58, .95);

a:hover, .btn-selected {
  color: $font-on-hover;
  transition: background 0.5s, color 0.5, box-shadow 0.5;
}

p {
  font-family: $font-secondary;
  font-size: 16px;
}

body {
  font-family: $font-primary;
  background-image: url("background.jpg");
  background-attachment: fixed;
  color: white;
  text-align: center;
  a {
    color: white;
  }
}

.wrapper {
  box-sizing: border-box;
  background-color: $bg-color;
  margin: 64px auto 0;
  padding: 25px 40px 64px;
  max-width: 1080px;
  min-height: 700px;
  height: 100%;
}

.container {
  max-width: 960px;
}

h1.profile-title {
  text-align: center;
  padding: 15px;
}

.admin {
  box-shadow: 0 5px 15px #323 inset;
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  float: right;
  background: $main-dark;
}

img.profile-pic {
  margin-top: 25px;
  width: 100%;
  border-radius: 50%;
  border: 3px solid $main-dark;
}

img.course-pic {
  margin-top: 15px;
  width: 100%;
  border-radius: 10px;
  border: 3px solid $main-dark;
}

div.profile-summary {
  text-align: left;
  padding: 20px;
  background: $main-light;
  border-radius: 10px;
  border: 1px solid $main-dark;
  box-shadow: 0 5px 15px #323;
}

div.course-summary {
  margin-top: 10px;
  text-align: left;
  padding: 20px;
  background: $main-light;
  border-radius: 10px;
  border: 1px solid $main-dark;
  box-shadow: 0 5px 15px #323;
}

.site-title {
  font-family: $font-primary;
  background: $nav-dark;
}

.btn {
  box-shadow: 2px 2px 2px #323;
  background: $btn-light;
  color: white;
}

.btn:hover, .btn-selected {
  box-shadow: 2px 2px 2px #323 inset;
  background: $btn-dark;
  text-decoration: none;
  color: $font-on-hover;
  cursor: pointer;
}

.btn:disabled, .btn:hover:disabled {
  box-shadow: 0 0 0 #000;
  background: $btn-light;
  color: $font-on-hover;
}

.tee-time-card {
  padding: 0;
  margin: 10px;
  background: $main-light;
  border-radius: 10px;
  border: 1px solid rgb(7, 74, 12);
  a {
    box-shadow: 0 5px 15px #323;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    height: 100%;
    width: 100%;
  }
  a:hover {
    box-shadow: 0 5px 15px #323 inset;
    background: $main-dark;
    text-decoration: none;
    color: $font-on-hover;
    border-radius: 10px;
  }
}

.joined-marker {
  position: absolute;
  top: 25px;
  right: 45px;
}

.tee-time-unjoinable {
  background: rgba(51, 69, 58, .75);
  border-radius: 10px;
  a:hover {
    background: rgba(51, 69, 58, .75);
    text-decoration: none;
    color: $font-on-hover;
    border-radius: 10px;
  }
}

.tee-time-new-card {
  padding: 0 24px;
  margin: 10px;
  background: $main-light;
  border-radius: 10px;
  border: 1px solid rgb(7, 74, 12);
  box-shadow: 0 5px 15px #323;
  input {
    width: 100%;
  }
  h2 {
    margin: 15px;
  }
  .btn {
    margin-top: 25px;
    margin-bottom: 20px;
  }
}

.tee-time-show-card {
  padding: 0 10px 20px;
  margin: 0 10px 10px;
  background: $main-light;
  border-radius: 10px;
  border: 1px solid rgb(7, 74, 12);
  box-shadow: 0 5px 15px #323;
  p {
    text-align: left;
  }
  li {
    list-style: none;
  }
  h2 {
    margin-top: 20px;
  }
  h5 {
    margin: 5px 25px;
    text-align: left;
  }
  .btn {
    margin: 15px 0;
  }
  a {
    float: left;
    text-align: left;
    padding: 10px;
    width: 100%;
  }
  a:hover {
    background: $main-dark;
    text-decoration: none;
    color: $font-on-hover;
    border-radius: 10px;
  }
}

.user-card {
  margin: 10px;
  padding: 30px;
  background: $main-light;
  border-radius: 10px;
  border: 1px solid rgb(7, 74, 12);
  box-shadow: 0 5px 15px #323;
  input {
    width: 100%;
  }
}

.fav-course {
  padding-left: 10px;
}

.fav-course a {
  padding: 5px;
}

.fav-course:hover a {
  box-shadow: 0 5px 15px #323 inset;
  background: rgba(51, 69, 58, .75);
  text-decoration: none;
  color: $font-on-hover;
  border-radius: 10px;
}

.course-main {
  padding: 15px;
  margin: 10px 0;
  background: $main-light;
  border-radius: 10px;
  border: 1px solid rgb(7, 74, 12);
  box-shadow: 0 5px 15px #323;
  p {
    text-align: left;
    margin-bottom: 5px;
  }
  .description {
    text-align: center;
  }
  .btn {
    margin: 10px;
  }
}

.filter-card {
  padding: 24px;
  margin: 10px;
  background: $main-light;
  border-radius: 10px;
  border: 1px solid rgb(7, 74, 12);
  box-shadow: 0 5px 15px #323;
}

.course-card {
  padding: 0;
  margin: 10px;
  border-radius: 10px;
  background: $main-light;
  border: 1px solid rgb(7, 74, 12);
  a {
    box-shadow: 0 5px 15px #323;
    padding: 25px 10px 10px;
    border-radius: 10px;
    display: inline-block;
    height: 100%;
    width: 100%;
  }
  a:hover {
    box-shadow: 0 5px 15px #323 inset;
    background: $main-dark;
    text-decoration: none;
    height: 100%;
    color: $font-on-hover;
    border-radius: 10px;
  }
}

label {
  margin: 25px 15px 0;
}

.fb-btn {
  background: #4343AC;
  span {
    margin-left: 10px;
  }
}

.fb-btn:hover {
  color: $font-on-hover;
  background: #227;
}

.fb-icon {
  width: 20px;
  float: left;
}

div.field_with_errors input, div.field_with_errors select {
  border-bottom: 2px solid red;
}

.error-list {
  list-style: none;
  background: rgba(175, 75, 75, .75);
  padding-left: 5px;
  border-radius: 10px;
}

.error-message {
  font-size: 14px;
  color: white;
}

.flash {
  font-size: 16px;
  padding: 5px;
  border-radius: 10px;
}

.warning, .leave {
  background: rgba(175, 75, 75, .75);
  color: white;
}

.btn.warning:disabled, .btn.leave:disabled {
  background: rgba(175, 75, 75, .75);

}

a.warning:hover, a.leave:hover, input.leave:hover, input.warning:hover, button.warning:hover {
  color: $font-on-hover;
  background: #722;
}

a.warning:hover:disabled, a.leave:hover:disabled, input.warning:hover:disabled, input.warning:hover:disabled {
  color: $font-on-hover;
  background: rgba(175, 75, 75, .75);
}

.confirmation {
  background: $btn-light;
  color: white;
}

.description {
  text-align: center;
}

textarea {
  width: 100%;
  height: 125px;
}

.details label {
  margin: 0;
  text-align: center;
}

nav {
  div.row div {
    padding-left: 0;
    padding-right: 0;
  }
  box-sizing: border-box;
  background: $nav-light;
  box-shadow: 0 5px 15px #323;
  color: white;
  a {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 20px 0;
    color: white;
    text-decoration: none;
    border: 1px solid $nav-dark;
  }
  a:hover {
    box-shadow: 0 5px 15px #323 inset;
    color: $font-on-hover;
    text-decoration: none;
    background: $nav-dark;
  }
}

.fixed-nav {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 66px;
}

img.nav-pic {
  float: left;
  margin: 11px 10px 0px 25px;
  display: inline-block;
  height: 40px;
  border-radius: 50%;
  border: 2px solid $main-dark;
}

#course-link {
  text-align: center;
}

.wide {
  display: inline-block;
  width: 100%;
}

@media screen and (max-width: 499px) {
  .tee-time-show-card p {
    text-align: center;
  }
  a.tee-time-user, .tee-time-guest {
    width: 50%;
    margin: 0 auto;
  }
  #signup-options {
    position: relative;
    top: 5px;
    bottom: 0;
    padding: 24px;
  }

  #courseEditBtn {
    width: 25%;
  }
  img.tee-time-pic {
    display: block;
    margin: auto;
  }
  nav {
    display: none;
  }
  .tee-time-user {

  }
  div.course-main p {
    text-align: center;
  }
  .admin {
    width: 100%;
    text-align: center;
  }
  #createTeeTimeBtn, #courseEditBtn {
    margin-left: 0;
  }
  .btn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  p {
    text-align: center;
  }
  div.wrapper {
    margin: 396px auto 0;
  }
  nav.fixed-nav {
    height: 396px;
  }
  p.stat {
    text-align: center;
  }
}

@media screen and (min-width: 500px) and (max-width: 799px) {

}

@media screen and (max-width: 950px) {
  #connect-text {
    visibility: hidden;
  }
  #nav-name {
    visibility: hidden;
  }
}

.filter {
  width: 50%;
  margin: 15px;
}

footer {
  padding: 15px 0 0;
  margin: 0 auto;
  max-width: 1080px;
  background: $footer;
  .footer-link {
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
  }
  .footer-link:hover {
    background: $footer-dark;
    box-shadow: 0 5px 15px #323 inset;
    color: $font-on-hover;
    text-decoration: none;
  }
  #footer-info {
    padding: 5px;
    width: 100%;
    display: inline-block;
  }
}

a.nav-user {
  height: 66px;
  padding: 0;
  span {
    float: left;
    display: inline-block;
    margin-top: 20px;
  }
}

nav-user-card {
  img {
    display: inline-block;
  }
  margin: 0 auto;
}

.nav-pic {
  margin: 0 25px 10px 0;
}

.tee-time-pic {
  height: 60px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid $main-dark;
}

.tee-time-user {
  p {
    font-size: 14px;
    margin: 0;
  }
}

.tee-time-guest {
  padding: 10px;
  p {
    font-size: 14px;
    margin: 20px 0 0 10px;
  }
}

.guest-count-label {
  margin-bottom: 15px;
}

.full {
  width: 100%;
}

.session-link {
  padding: 10px;
  border-radius: 10px;
}

.session-link:hover {
  box-shadow: 0 5px 15px #323 inset;
  background: $main-dark;
  text-decoration: none;
  color: $font-on-hover;
  border-radius: 10px;
}

.about {
  margin: 10px 40px;
  padding: 25px 50px;
  background: $main-light;
  border-radius: 10px;
  a {
    padding: 0;
    text-decoration: underline;
  }
  p {
    text-align: left;
  }
  img {
    margin: 10px 30px;
  }
}

.icon {
  color: $main-light
}

.icon:hover {
  color: $main-light;
  text-decoration: none;
}

.link-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

a:hover .link-icon {
  padding: 0;
  background: $main-dark;
}

.hidden-flash {
  font-size: 20px;
  padding: 10px;
  visibility: hidden;
}

output {
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.comment-content {
  padding: 15px;
  background: $main-light;
  border-radius: 20px;
  p {
    margin: 0;
    text-align: left;
  }
  .timestamp {
    text-align: left;
  }
}

div.commentDiv div.comment-content.dark {
  background: $main-dark;
}

.timestamp {
  font-size: 12px;
  color: #CCC;
}

#comments a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.comment-pic {
  float: right;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid $main-dark;
}

.comment-link:hover {
  color: white;
}

.full-width {
  width: 100%;
}

#comment_content {
  width: 100%;
}

.comment-edit, .comment-remove {
  padding: 5px;
  width: 100%;
  background: none;
  color: white;
  border: none;
  color: #CCC;
  cursor: pointer;
}

.octicon:hover {
  fill: $main-light;
}

.octicon {
  fill: white;
}

.textEditor {
  color: white;
  background: $main-dark-input;
  border-color: #343;
}

.half-width {
  width: 50%;
}

.right {
  display: inline-block;
  float: right;
}

input {
  padding: 2px 5px;
  background: none;
  border: none;
  border-bottom: 3px solid $btn-light;
  outline: 0 none;
  color: white;
}

input:focus {
  border-color: $main-dark;
}

input::placeholder {
  color: $font-placeholder;
}

#signup-options {
  position: relative;
  bottom: 64px;
}
