$bg-color: rgba(64, 105, 81, .75);
$main-dark: rgba(34, 79, 53, .75);
$main-light: rgba(35, 156, 86, .75);
$btn-light: rgba(99, 232, 156, .75);
$btn-dark: rgba(66, 156, 104, .75);

a:hover {
  transition: background 0.65s, color 0.65s;
}

body {
  background-image: url("background.jpg");
  margin: 25px;
  color: white;
  a {
    color: white;
  }
}

.wrapper {
  box-sizing: border-box;
  background: $bg-color;
  margin: 0 auto;
  padding: 25px;
  max-width: 960px;
  min-height: 600px;
}

.container {
  max-width: 960px;
}

nav {
  div.container {
    width: 100%;
    margin: 0 auto;
  }
  div.row div {
    padding-left: 0;
    padding-right: 0;
  }
  box-sizing: border-box;
  background: $main-light;
  color: white;
  margin: 0 auto;
  max-width: 960px;
  a {
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 20px 0;
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: white;
    text-decoration: none;
    background: $main-dark;
  }
}

h1.profile-title {
  padding: 15px;
}

img.profile-pic {
  margin-top: 15px;
  width: 100%;
  border-radius: 50%;
  border: 3px solid $main-dark;
}

div.profile-summary {
  padding: 20px;
  background: $main-light;
  border-radius: 10px;
  border: 1px solid $main-dark;
  box-shadow: 4px 4px 2px #333;
}

.warning {
  color: #722;
}

.site-title {
  background: $main-dark;
}

.tee-time-card {
  margin: 10px;
  background: $main-light;
  border-radius: 10px;
  border: 1px solid rgb(7, 74, 12);
  box-shadow: 4px 4px 2px #333;
  a {
    padding: 10px;
    display: inline-block;
    height: 100%;
    width: 100%;
  }
  a:hover {
    background: $main-dark;
    text-decoration: none;
    color: white;
    border-radius: 10px;
  }
}

.btn {
  background: $btn-light;
}

.btn:hover {
  background: $btn-dark;
  text-decoration: none;
  color: white;
}
